
.react-date-picker__wrapper{
  border: 0px;
}

.react-calendar{
  background-color: rgb(35, 34, 36);
  font-family: "Mulish";
}

.react-calendar__month-view__days__day--weekend{
  color: #818cf8;
}

.react-calendar__tile--active{
  background: #818cf8;
}

