

table{ 
  width: 100%;
  background-color: rgb(43, 43, 43);
}

table, th, td {
  border-bottom: 1px solid #1c1c1c;
  padding: 0.7rem 0.2rem;
}

th{ 
  background-color: rgb(30, 30, 30);
  padding: .9rem;
}
td{ text-align: center;}

.active{
  /* border-bottom: 2px solid white !important; */
  animation: border_pulse 2s infinite;
}

input:focus{
  outline: none !important;
}

@keyframes border_pulse {
  0%    {border-bottom: 1px solid inherit}
  50%   {border-bottom: 1px solid white}
  100%  {border-bottom: 1px solid inherit}
}
